<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% block ext_css %}
    {% endblock %}
</head>

<body>
    {% block header %}
        <h4>Base Header</h4>
    {% endblock header %}

    {% block content %}
        <h4>Base content</h4>
    {% endblock content %}

    {% block footer %}
        <h4>Base footer</h4>
    {% endblock footer %}
</body>

</html>